@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #fff;
    width: 100%;
    height: 100%;
}

li{ list-style: none; }

.header{
    background-color: #e5e5e5;
    border-bottom: 2px solid #d9d9d9;
    width: 100%;
    height: 53px;
}

.spinner{
    float: right;
    margin: 14px 30px 0 0;
}

.spinner li{
    display: block;
    width: 5px;
    height: 5px;
    background-color: #696969;
    margin-bottom: 5px;
}

.spinner li:last-child{
    margin-bottom: 0;
}

.spinner-menue{
    position: absolute;
    top: 55px;
    right: 10px;
    width: 270px;
    background-color: #e4e4e4;
    border: 1px solid #d8d8d8;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -khtml-border-radius: 0 0 3px 3px;
    
    box-shadow: 3px 1px 14px rgba( 0, 0, 0,  .3);
}

.spinner-menue li{
    border-top: 2px solid #cbcbcb;
    padding: 20px;
    font-weight: 300;
}

.spinner-menue li:first-child{
    border: none;
    padding: 20px
}